<div class="entry-content">
<p><span style="text-decoration: underline">Current BioRxiv/MedRxiv</span></p>
<p><span style="text-decoration: underline">Autoimmune non-coding variants perturb transcription factor-cofactor complex assembly linked to enhancer activity.</span><br/>
<i>bioRxiv 2026</i><br/>
<span><strong>Dashtiahangar M</strong>, </span><b>Siggers T</b></p>
<p><span style="text-decoration: underline">Atlas of HIV cis-regulatory elements reveals extensive transcriptional variation across clades, isolates, and within individuals.</span><br/>
<i>bioRxiv 2026</i><br/>
<span>Engin B, ElSadec MY, Finkelberg JA, Taslim TH, Bryant DL, Soto-Ugaldi L, Kales S, Ho CH, <strong>Dashtiahangar M</strong>, Muñoz-Esquivel G, Morara E, Purinton J, D’Elia B, Castro R, Chandok H, Paz MA, </span><b>Siggers T</b><span>, Ray JP, Henderson AJ, Tewhey R, Bass JIF.</span></p>
<p><span style="text-decoration: underline">A highly prevalent lupus risk haplotype increases IRF7-dependent induction of IFN-a, enhancing antiviral defense and exacerbating autoimmunity.</span><br/>
<i>medRxiv 2026</i><br/>
<span>Virolainen SJ, Creighton K, <strong>Dashtiahangar M</strong>, Krishnamurthy D, Parks L, Forney C, Ampadu B, Rudrapatna AN, Dunn KA, Parameswaran S, Hesse HK, Chen X, VonHandorf A, Edsall LE, Yin C, Lynch A, Gittens OE, Diouf AA, Jones SH, Hass M, Javier E, Donmez OA, Keddari Y, Danzinger O, Seelamneni H, Namjou-Khales B, Ainsworth HC, Comeau ME, Marion MC, Glenn SB, Nath SK, Freedman BI, Tsao BP, Kamen DL, Brown EE, Gilkeson GS, Alarcón GS, Reveille JD, James JA, Criswell LA, Vilá LM, Alarcón-Riquelme ME, Petri M, Scofield RH, Kimberly RP, Ramsey-Goldman R, Bae SC, Graham DC, Vyse TJ, Guthridge JM, Gaffney PM, Langefeld CD, Kelly JA, Kaufman KM, Sivils K, Harley JB, Shen N, Lawson LP, Baglaenko Y, Miraldi ER, Rosenberg BR, </span><b>Siggers T</b><span>, Waggoner SN, Weirauch MT, Kottyan LC</span></p>
<p><span style="text-decoration: underline">Single Nucleus MultiOmics Links Novel Transcription Factor Motifs to Murine Hepatic Sex Differences in Chromatin Accessibility and Metabolic Dysfunction-Associated Steatotic Liver Disease.</span><br/>
<i>BioRxiv 2025</i><br/>
Karri K, Chang TY, Pyatkov M, Gandhi S, <strong>Siggers T, </strong>Waxman DJ</p>
<p> </p>
<p><span style="text-decoration: underline">2026</span></p>
<p><span style="text-decoration: underline">NF-kB: A Diverse and Multifunctional Transcription Factor in Holozoans</span><br/>
<em>Mol. biol. Evol.</em> 43(4):msag059 (<a href="https://pubmed.ncbi.nlm.nih.gov/41802887/">PMID:41802887</a>)<br/>
Glass BH, Abraham T, <strong>Siggers T, </strong>Davies SW, Gilmore TD</p>
<p><span style="text-decoration: underline">2025</span></p>
<p><span style="text-decoration: underline">Targeting SUMOylation promotes cBAF complex stabiliziation and disruption of the SS18::SSX transcriptome in synovial sarcoma.</span><br/>
<em>Nature communications</em> 16:9761 ( <a href="https://www.nature.com/articles/s41467-025-64665-8"><span>PMID: </span></a><a href="https://pubmed.ncbi.nlm.nih.gov/38883782/" class="usa-link">38883782</a>)<br/>
Floros KV, Fairchild Jr. CK, Li J, Zhang K, Roberts JL, Kurupi R, Paudel D, Xing Y, Hu B Kraskauskiene V, Hosseini N, Shen S, <strong>Inge MM</strong>, Smith-Fry K, Li L, Sotiriou A, Dalton KM, Jose A, Abdelfadiel EI, Hill RD, Slaughter JM, Shende M, Lorenz MR, Tanaka N, Kajino T, Nelson ML, Hinojosa MR, Kehinde VA, Belvin BR, Sugiokto FG, Lai Z, Dimopoulos AC, Boikos SA, Stamatouli AM, Lewis JP, Manjili MH, Edi H, Valerie K ,Li R, Poklepovic A, Koblinski JE, <strong>Siggers T, </strong>Banito A, Dozmorov MG, Jones KB, Radhakrishnan SK, Faber AC</p>
<p><span style="text-decoration: underline">Stepwise neofunctionalization of the NF-kB family member c-Rel during vertebrate evolution.</span><br/>
<em>Nature Immunology </em>26:760 ( <a href="https://pubmed.ncbi.nlm.nih.gov/40307452/">PMID:40307452</a>)<br/>
Daly AE, Chang AB, Purbey P, Williams KJ, Yeh G, Li S, Pope SD, Venkatesh B, Redelings BD, Li S, Nguyen K, Rodrigues J, Jorgensen K, <strong>Siggers T, </strong> Chen L, Smale ST.<em><a href="https://pubmed.ncbi.nlm.nih.gov/39166482/"><span class="identifier pubmed"><span class="id-label"/><strong class="current-id"/></span></a></em></p>
<p> </p>
<p><span style="text-decoration: underline">2024</span></p>
<p><span style="text-decoration: underline">Rapid profiling of transcription factor-cofactor interaction networks reveals principles of epigenetic regulation</span><br/>
<em>NAR</em> <a href="https://pubmed.ncbi.nlm.nih.gov/39166482/"><span class="identifier pubmed"><span class="id-label">PMID: </span></span></a><a href="https://pubmed.ncbi.nlm.nih.gov/39166482/"><span class="identifier pubmed">39166482</span></a><br/>
<strong>Inge MM*, Miller R*, Hook H, Bray D, Keenan JL, Zhao R,</strong> Gilmore TD,<strong> Siggers T </strong></p>
<p><span style="text-decoration: underline">Multiomic profiling of chronically activated CD4+ T cells identifies drivers of exhaustion and metabolic reprogramming</span><br/>
<em>PLoS Biol. <a href="https://pubmed.ncbi.nlm.nih.gov/39689157/"><span class="identifier pubmed"><span class="id-label">PMID: 39689157</span></span></a></em><br/>
Lawton ML, <strong>Inge MM</strong>, Blum BC, Smith-Mahoney EL, Bolzan D, Lin W, McConney C, Porter J, Moore J, Youssef A, Tharani Y, Varelas X, Denis GV, Wong WW, Padhorny D, Kozakov D, <strong>Siggers T</strong>, Wuchty S, Snyder-Cappione J, Emili A</p>
<p> </p>
<p><span style="text-decoration: underline">2023</span></p>
<p><span style="text-decoration: underline">Starvation decreases immunity and immune regulatory factor NF-kB in the starlet sea anemone Nematostella vectensis </span><br/>
<em>Commun. Biol</em> 6:698 <span class="identifier pubmed"><span class="id-label"/> <a href="https://pubmed.ncbi.nlm.nih.gov/37420095/">PMID:37420095</a></span><br/>
Carrion PJA, Desai N, Brennen JJ, Fifer JE, <strong>Siggers T,</strong> Davies SW, Gilmore TD.</p>
<p><span style="text-decoration: underline">Parallelized multidimensional analytic framework applied to mammary epithelial cells uncovers regulatory principles in EMT.</span><br/>
<em>Nature Communications</em> 14:688 <span class="identifier pubmed"><span class="id-label"/> <a href="https://pubmed.ncbi.nlm.nih.gov/36755019/">PMID:36755019</a></span><br/>
Paul I, Bolzan D, Youssef A, Gagnon K, <strong>Hook H</strong>, Karemore G, Oliphant M, Lin W, Liu Q, Phanse S, White C, Padhorny D, Kotelnikov S, Chen C, Hu P, Denis G, Kozakov D, Raught B, <strong>Siggers T,</strong> Wuchty S, Muthuswamy S, Emili A.</p>
<p><span style="text-decoration: underline">Widespread perturbation of ETS factor binding sites in cancer.</span><br/>
<em>Nature Communications</em> 14:913 <span class="identifier pubmed"><span class="id-label"/> <a href="https://pubmed.ncbi.nlm.nih.gov/36808133/">PMID:36808133</a> (previous BioRxiv version <a href="https://www.biorxiv.org/content/10.1101/2022.08.10.503516v1">here</a>)</span><br/>
Carrasco Pro S*, <strong>Hook H*, Bray D, </strong>Berenzy D, Moyer D, Yin M, Labadorf AT, Tewhey R, <strong>Siggers T**, </strong>Fuxman Bass JI**.</p>
<p><span style="text-decoration: underline">NF-kappaB and the Immune System</span>.<br/>
In <em>Encyclopedia of Cell Biology, Second Edition</em> (RA Bradshaw, GW Hart, PD Stahl eds) Elsevier. Volume 5:41-426. Oxford, Elsevier.<br/>
Gilmore TD,<strong> Siggers T</strong></p>
<p> </p>
<p><span style="text-decoration: underline">2022<br/>
</span></p>
<p><span style="text-decoration: underline">CASCADE: High-throughput characterization of regulatory complex binding altered by non-coding variants.</span><br/>
<em>Cell Genomics</em> 2:100098  <span class="identifier pubmed"><span class="id-label"/> <a href="https://pubmed.ncbi.nlm.nih.gov/35252945/">PMID:35252945</a> (previous BioRxiv version <a href="https://www.biorxiv.org/content/10.1101/2020.04.21.053710v1">here</a>)</span><br/>
<strong>Bray D*, Hook H*, Zhao R, Keenan JL, Penvose A, Osayame Y, Mohaghegh N</strong>, Chen X, Parameswaran S, Kottyan LC, Weirauch MT, <strong>Siggers T</strong>.</p>
<p> </p>
<p><span style="text-decoration: underline">2021</span></p>
<p><span style="text-decoration: underline">Comparison of NF-kB from the protists Capsaspora owczarzaki and Acanthoeca spectabilis reveals extensive evolutionary diversification of this transcription factor.</span><br/>
<em>Commun Biol. </em>4(1):1404<br/>
William LM, Sridhar S, Samaroo J, Peart J, Adindu EK, Addanki A, DiRusso CJ, BB522 Molecular Biology Laboratory, Aguirre Carrion PJ, Rodriguez-Sastre N, <strong>Siggers T, </strong>Gilmore TD.</p>
<p><span style="text-decoration: underline">High-Throughput Analysis of the Cell and DNA Site-Specific Binding of Native NF-kB Dimers using Nuclear Extract Protein-Binding Microarrays (NextPBMs).</span><br/>
<em>Methods Mol. Biol. 2366:43-66 </em> <a href="https://pubmed.ncbi.nlm.nih.gov/34236632/">PMID:34236632</a><br/>
<span><strong>Hook H*, Zhao RW*, Bray D, Keenan JL,</strong> <strong>Siggers T</strong><strong>  </strong>(2021) </span></p>
<p><span style="text-decoration: underline">2020</span></p>
<p><span style="text-decoration: underline">Transcription factor NF-kB in a basal metazoan, the sponge, has conserved and unique sequences, activities, and regulation.</span><br/>
<em>Dev Comp Immunol </em> <a href="https://pubmed.ncbi.nlm.nih.gov/31751628/">PMID: 31751628</a><br/>
<span>Williams LM, Inge MM, Mansfield KM, Rasmussen A, Afghani J, Agrba M, Albert C, Andersson C, Babaei M, Babaei M, Badsasaryants A, Bonilla A, Browne A, Carpenter S, Chen T, Christie B, Cyr A, Dam K, Dulock N, Erdene G, Esau L, Esonwune S, Hanchate A, Huang X, Jennings T, Kasabwala A, Kehoe L, Kobayashi R, Lee M, LeVan A, Liu Y, Murphy E, Nambiar A, Olive M, Patel D, Pavesi F, Petty CA, Samofalova Y, Sanchez S, Stejskal C, Tang Y, Yapo A, Cleary JP Jr, Yunes CA, <strong>Siggers T</strong>, Gilmore T<strong>  </strong> </span></p>
<p><span style="text-decoration: underline">2019</span></p>
<p><span style="text-decoration: underline">Selective deployment of transcription factor paralogs with submaximal strength facilitates gene regulation in the immune system.</span><br/>
<em>Nature Immunology </em>20(10):1372 <a href="https://www.ncbi.nlm.nih.gov/pubmed/31451789">PMID:31451789</a><br/>
<span>Bruno L, <strong>Ramlall V, </strong>Studer RA, Sauer S, Bradley D, Dharmalingam G, Carroll T, Ghoneim M, Chopin M, Nutt SL, Elderkin S, Rueda DS, Fisher AG, <strong>Siggers T</strong>, Beltrao P, Merkenschlager M<strong>  </strong></span></p>
<p><span style="text-decoration: underline">Comprehensive study of nuclear receptor DNA binding provides a revised framework for understanding receptor specificity</span><br/>
<em>Nature Communications </em>10(1):2514<a href="https://www.nature.com/articles/s41467-019-10264-3"> PMID:31175293</a><br/>
<strong>Penvose A*, Keenan J*, Bray D, Ramlall V, Siggers T, </strong>(</p>
<p><span style="text-decoration: underline">NextPBM: A platform to study cell-specific transcription factor binding and cooperativity</span><br/>
<em>Nucleic Acids Research </em> 47:e3 <a href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkz020/5290486"> PMCID:PMC6451091 </a><br/>
<span><strong>Mohaghegh N*, Bray D*, Keenan J, Penvose A, Andrilenas KK, Ramlall V, Siggers T, </strong></span></p>
<p> </p>
<p><span style="text-decoration: underline">2018</span></p>
<p><span style="text-decoration: underline">DNA-binding landscape of IRF3, IRF5 and IRF7 dimers: implication for dimer-specific gene regulation</span><br/>
<em>Nucleic Acids Research </em>46:2509-2520<a href="https://www.ncbi.nlm.nih.gov/pubmed/29361124"> PMID:29361124. </a><br/>
<span><strong>Andrilenas KK, Ramlall V, Kurland J, Leung G,</strong> Harbaugh AG, <strong>Siggers T, </strong></span></p>
<p> </p>
<p><span style="text-decoration: underline">2017</span></p>
<p><span style="text-decoration: underline">Transcription factor NF-kB is modulated by symbiotic status in a sea anemone of cnidarian bleaching</span><br/>
<em>Sci Rep.</em>7:16025<a href="https://www.ncbi.nlm.nih.gov/pubmed/29167511"> PMID:29167511. </a><br/>
<span>Mansfield KM, Carter NM, Nguyen L, Cleves PA, Alshanbayeva A, William LM, Crowder C, <strong>Penvose AR</strong>, Finnerty JR, Weis VM, <strong>Siggers T, </strong> Gilmore TD </span></p>
<p> </p>
<p><span style="text-decoration: underline">2016</span></p>
<p><span style="text-decoration: underline">Expansion of GA Dinucleotdie Repeats Increases the Density of CLAMP Binding Sites on the X-Chromosome to Promote Drosophila Dosage Compensation</span><br/>
<em>PLoS Genetics </em>12:e1006120:<a href="https://www.ncbi.nlm.nih.gov/pubmed/27414415">e1006120. </a><br/>
<span>Kuzu G, Kaye EG, Chery J, <strong>Siggers T, </strong>Yang L, Dobson JR, Boor S, Bliss J, Liu W, Jogi, Rohs R, Singh ND, Bulyk ML, Tolstorukov MY, Larschan E </span></p>
<p><span style="text-decoration: underline">Survey of variation in human transcription factors reveals prevalent DNA binding changes</span><br/>
<em>Science</em> 35<span>:</span><a href="https://www.ncbi.nlm.nih.gov/pubmed/27013732">1450-1454. </a><br/>
Barrera LA, Vedenko A, Kurland JV, Rogers JM, Gisselbrecht SS, Rossin EJ, Woodard J, Mariani L, Kock KH, Inukai S, <strong>Siggers T, </strong>Shokri L, Gordan R, Sahni N, Cotsapas C, Hao T, Yi S, Kellis M, Daly MJ, Vidal M, Hill DE, Bulyk ML</p>
<p><span style="text-decoration: underline">Grhl2 is required in nonneural tissue for neural progenitor survival and forebrain development</span><br/>
<em>Genesis</em> 53(9)<span>:</span><a href="https://www.ncbi.nlm.nih.gov/pubmed/26177923">573-582. </a><br/>
Menke C, Cionni M, <strong>Siggers T</strong>, Bulyk ML, Beier DR, Stottmann RW</p>
<p><span style="text-decoration: underline">Characterizing the DNA binding site specificity of NF-kB with protein-binding microarrays (PBMs)</span><br/>
<em>Methods Mol. Biol. 1280</em>:<a href="https://www.ncbi.nlm.nih.gov/pubmed/25736775">609-630.</a><br/>
<strong>Siggers T**, </strong>Gilmore TD, <strong>Barron B, Penvose A</strong></p>
<p><span style="text-decoration: underline">Using Protein-binding Microarrays to Study Transcription Factor Specificity: Homologs, Isoforms and Complexes</span><br/>
<em>Briefings in Functional Genomics 14 </em>:<a href="https://www.ncbi.nlm.nih.gov/pubmed/25431149">17-29. </a><br/>
<span style="font-size: 15px"><strong>Andrilenas K, Penvose A, Siggers T</strong> </span></p>
<p> </p>
<p><span style="text-decoration: underline">2014</span></p>
<p><span style="text-decoration: underline">Diversification of transcription factor paralogs via noncanonical modularity in C2H2 Zinc finger DNA binding</span><br/>
<em>Molecular Cell </em>55(4):<a href="https://www.ncbi.nlm.nih.gov/pubmed/25042805">640-648. </a><br/>
<span style="font-size: 15px"><strong>Siggers T**, </strong>Reddy J, <strong>Barron B</strong>, Bulyk ML** </span></p>
<p><span style="text-decoration: underline">Protein-DNA binding: complexities and multi-protein codes.</span><br/>
<em>Nucleic Acids Res. </em>42(4):<a href="https://www.ncbi.nlm.nih.gov/pubmed/24243859">1551-1556. </a><br/>
<span style="font-size: 15px"><strong>Siggers T**, </strong>Gordan R** </span></p>
<p> </p>
<p><span style="text-decoration: underline">2013</span></p>
<p><span style="text-decoration: underline">The CLAMP protein links the MSL complex to the X chromosome during Drosophila dosage compensation</span><br/>
<em>Genes Dev</em>. 27(14):<a href="https://www.ncbi.nlm.nih.gov/pubmed/23873939">1551-1556. </a><br/>
<span style="font-size: 15px"><span style="font-size: 15px">Soruco MM, Chery J, Bishop EP, <strong>Siggers T</strong>, Tolstorukov MY, Leydon AR, Sugden AU, Goebel K, Feng J, Xia P, Vedenko A, Bulyk ML, Park PJ, Larschan E. </span></span></p>
<p><span style="text-decoration: underline">2012</span></p>
<p><span style="text-decoration: underline">Principles of dimer-specific gene regulation revealed by a comprehensive characterization of NF-κB family DNA binding.</span><br/>
<em>Nature Immunology </em>13(1):<a href="https://www.ncbi.nlm.nih.gov/pubmed/22101729">95-102 </a><br/>
<strong>Siggers T</strong>*, Chang AB*, Teixeira A, Wong D, Williams KJ, Ahmed B, Ragoussis J, Udalova IA, Smale ST, Bulyk ML.</p>
<p>Faculty of 1000 Recommended<img class="size-full wp-image-231 alignnone" src="https://blogs.bu.edu/tsiggers/files/2012/09/f1000_logo_250x102.png" alt="" width="38" height="16"/><br/>
Click <a href="http://thebrain.bwh.harvard.edu/nfkb/" target="_blank" rel="noopener">here</a> to access the associated NF-kB PBM database and search tools.<br/>
<span style="font-size: 15px"/></p>
<p><span style="text-decoration: underline">Non-DNA-binding cofactors enhance DNA-binding specificity of a transcriptional regulatory complex.</span><br/>
<em>Molecular Systems Biology </em><a href="https://www.ncbi.nlm.nih.gov/pubmed/22146299">7:555 </a><span style="font-size: 12px"><span style="font-size: 15px"><br/>
<strong>Siggers T</strong>, Duyzend MH, Reddy J, Khan S, Bulyk ML.<br/>
<span style="font-size: 12px"/></span></span></p>
<p><span>       Highlighted in <a href="https://www.ncbi.nlm.nih.gov/pubmed/22207166"><i>Nature Review Genetics</i></a></span></p>
<p> </p>
<p><span style="text-decoration: underline">2011</span></p>
<p><span style="text-decoration: underline">Extensive characterization of NF-KappaB binding uncovers non-canonical motifs and advances the interpretation of genetic functional traits.</span><br/>
<em>Genome Biol.</em> 12(7):<a href="https://www.ncbi.nlm.nih.gov/pubmed/21801342">R70</a><br/>
Wong D, Teixeira A, Oikonomopoulos S, Humburg P, Lone IN, Saliba D, <strong>Siggers T,</strong> Bulyk ML, Angelov D, Dimitrov S, Udalova I, Ragoussis J.</p>
<p> </p>
<p><span style="text-decoration: underline">2010</span></p>
<p><span><span style="text-decoration: underline">Precise temporal control of the eye regulatory gene Pax6 via enhancer binding site affinity.</span><br/>
<em>Genes Dev</em>. 24(10):<a href="https://www.ncbi.nlm.nih.gov/pubmed/20413611">980-985. </a><br/>
Rowan S*, <strong>Siggers T*</strong>, Lachke SA, Yue Y, Bulyk ML, Maas RL.</span></p>
<p><span><span style="text-decoration: underline"> Noncooperative interactions between transcription factors and clustered DNA binding sites enable graded transcriptional responses transcriptional responses to environmental inputs.</span><br/>
<em>Mol. Cell.</em> 37(3):<a href="https://www.ncbi.nlm.nih.gov/pubmed/20159560">418-428.</a></span><br/>
Giorgetti L, <strong>Siggers T</strong>, Tiana G, Caprara G, Notarbartolo S, Corona T, Pasparakis M, Milani P, Bulyk ML, Natoli G.</p>
<p>Highlighted in <a href="https://www.ncbi.nlm.nih.gov/pubmed/21488229"><i>Nature Review Genetics</i></a><br/>
<span style="font-size: 15px"/></p>
<p> </p>
<p><span style="text-decoration: underline">2009</span></p>
<p><span style="text-decoration: underline">DNA-binding and -bending activities of SAP30L and SAP30 are mediated by a zinc-dependent module and monophosphoinositides.</span> <em>Mol. Cell Biol.</em> 29:<a href="https://www.ncbi.nlm.nih.gov/pubmed/19015240">342-356.</a><br/>
Viiri KM, Janis J, <strong>Siggers T</strong>, Heinonen TY, Valjakka J, Bulyk ML, Maki M, Lohi O.</p>
<p><span style="font-size: 15px"><span><span style="text-decoration: underline">Structure-based prediction of C2H2 zinc-finger binding specificity: sensitivity to docking geometry.</span><em> </em></span></span><br/>
<span style="font-size: 15px"><span><em>Nucleic Acids Res</em>. 35(5):<a href="https://www.ncbi.nlm.nih.gov/pubmed/17264128">1085-1097</a></span><br/>
<strong>Siggers T</strong>, Honig B.<span style="font-size: 15px"/></span></p>
<p> </p>
<p><span style="text-decoration: underline">2005</span></p>
<p><span style="font-size: 15px"><span style="font-size: 15px"><span><span style="text-decoration: underline">Structural alignment of protein-DNA interfaces: insights into the determinants of binding specificity.</span> </span></span></span><br/>
<span style="font-size: 15px"><span style="font-size: 15px"><span><em>JMB </em>345(5):<a href="https://www.ncbi.nlm.nih.gov/pubmed/15644202">1027-1045. </a></span><br/>
<strong>Siggers T</strong>, Silkov A, Honig B.<br/>
</span></span></p>
<p>* Authors contributed equally</p>
<p>** Co-corresponding authors</p>
				</div>

					
